@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #161822;
    --accent-color: #252a37;
    --inserts-color: #f8453f;
    --color: #e3e6e8;
    --nav-height: 60px;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    color: var(--color);
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--background-color);
    min-height: 100vh;
    position: relative;
}

.content {
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn {
    display: inline-block;
    background: none;
}

.btn:hover {
    transform: translateY(-2px);
    color: var(--inserts-color);
    cursor: pointer;
    transition: transform 0.1s, color 0.1s;
}

.red-btn {
    background-color: var(--inserts-color);
    color: var(--color);
}

.red-btn:hover {
    transform: translateY(-3px);
    background-color: #ff0900;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.1s;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height);
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #252a37;
}

.menu {
    height: 50%;
    display: flex;
}

.menu a {
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    background-color: #2b2e41;
}

a {
    text-decoration: none;
}

img {
    filter: brightness(0) invert(1);
}
