.content {
    display: flex;
    justify-content: center;
}

.center {
    position: fixed;
    top: var(--nav-height);
    left: 0;
    right: 0;
    bottom: var(--nav-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
}
