@import "./header.css";

.new-deck {
    padding: 6px 20px;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 20px;
}

.plus {
    width: 10px;
    filter: brightness(0) invert(1);
    margin-right: 5px;
}

.decks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr) );
    gap: 1.5rem;
}

.deck {
    display: flex;
    flex-direction: column;
    background-color: #252a37;
    border-radius: 5px;
    padding: 24px;
    gap: 16px;
}

progress {
    width: 100%;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-btn:hover {
    color: var(--inserts-color);
}

.action-btn img {
    width: 20px;
}

.action-btn:hover img {
    filter:
        brightness(0)
        saturate(100%)
        invert(39%) sepia(95%) saturate(1423%) hue-rotate(327deg) brightness(97%) contrast(97%);
}
